{% extends 'base.html' %}

{% block body %}
    <h2>Create New Menu Item</h2>
    <form action="" method="POST">
        <label for="item-name">Name:</label>
        <input type="text" name="name" id="item-name">
        <br>
        <label for="item-price">Price:</label>
        <input type="text" name="price" id="item-price">
        <br>
        <label for="item-description">Description:</label>
        <input type="text" name="description" id="item-description">
        <br>
        <input type="submit">
    </form>
{% endblock %}