{% extends 'base.html' %}

{% block body %}
    <h2>Edit Menu item</h2>

        <form action="" method="POST">
        <label for="item-name">Name:</label>
        <input type="text" name="name" id="item-name" value="{{ item.name }}">
        <br>
        <label for="item-price">Price:</label>
        <input type="text" name="price" id="item-price" value="{{ item.price }}">
        <br>
        <label for="item-description">Description:</label>
        <input type="text" name="description" id="item-description" value="{{ item.description }}">
        <br>
        <input type="submit">
    </form>
    <a href="{{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}">Cancel</a>
{% endblock %}